.red{
    background-color: rgba(255, 0, 0, 0.164);
}
.green{
    background-color: rgba(0, 255, 64, 0.425);
}
.yell{
    background-color: rgba(255, 238, 0, 0.493);
}
.bg-trans{
  background-color: rgba(255, 255, 255, 0);
}
.orange{
  color: #FF8800;
}
