<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li style="font-size:20px">
        <i class="fa fa-graduation-cap"></i>&nbsp; {{ ( courseItem | async)?.id }} : {{ ( courseItem | async)?.name }}
      </li>
    </ul>

    <form class="form-inline my-sm-0">
      <button type="button" class="btn btn-outline-primary" (click)="openTools(toolBox)">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        &nbsp; Tools
      </button>
    </form>
  </div>
</nav>

<hr>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <div *ngFor="let event of eventList">
        <li *ngIf="event.fn && event.isClick">
          <button type="button" class="btn btn-primary btn-sm" (click)="onClickEvent(event)">
            {{ event.name }}
            <!--{{ ( event | async )?.is }}-->
          </button>
        </li>
        <li *ngIf="event.fn && !event.isClick">
          <button type="button" class="btn btn-light btn-sm" (click)="onClickEvent(event)">
            {{ event.name }}
            <!--{{ ( event | async )?.is }}-->
          </button>
        </li>
      </div>
    </ul>

    <!--เพิ่ม/แก้ไขคะแนน นศ-->
    <form class="form-inline my-sm-0">
      <button *ngIf="!isScoreEvent" class="btn btn-outline-warning btn-sm" type="button" (click)="onClickCreateEventSlot(warningAlert)">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</nav>

<div class="card">
  <div class="card-body">
    <app-event *ngIf="eventParam !== 'score'"></app-event>
    <app-score *ngIf="eventParam == 'score'"></app-score>
  </div>
</div>

<!--
  XXXXXXXX  XXXXXXX  XX       XX  XXXXXXX  XX       XXXXXXX  XXXXXXXX  XXXXXXX
     XX     XX       XXX     XXX  XX   XX  XX       XX   XX     XX     XX
     XX     XXXXXXX  XX X   X XX  XXXXXXX  XX       XXXXXXX     XX     XXXXXXX
     XX     XX       XX  X X  XX  XX       XX       XX   XX     XX     XX
     XX     XXXXXXX  XX   X   XX  XX       XXXXXXX  XX   XX     XX     XXXXXXX
-->
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<!-- เมื่อคลิก Tools -->
<ng-template #toolBox let-c="close" let-d="dismiss">
  <!--div class="card-header">
    <h5 class="modal-title"> เปิดใช้งานฟังก์ชั่นต่างๆ </h5>
    <hr>
    <div style="text-align:center">
      <button type="button" class="btn btn-outline-success" (click)="c('Close click',openEvent(insertStudent))">เพิ่มรายชื่อนักศึกษา</button>
      &nbsp;
      <button type="button" class="btn btn-outline-warning" (click)="c('Close click',openLg(updateCourseData))">แก้ไขรายวิชา</button>
      &nbsp;
      <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">นำออกข้อมูล</button>
    </div>
  </div-->
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;เปิดใช้งานฟังก์ชั่นต่างๆ
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <div class="col">
        <button type="button" class="btn btn-outline-success" (click)="c('Close click',openEvent(insertStudent))">
          <i class="fa fa-user-plus" aria-hidden="true" style="height: 20px;"></i>&nbsp;เพิ่มรายชื่อ
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-warning" (click)="c('Close click',openLg(updateCourseData))">
          <i class="fa fa-pencil-square-o" aria-hidden="true" style="height: 20px;"></i>&nbsp;แก้ไขรายวิชา
        </button>
        &nbsp;
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click', openSm(exportExcel))">
          <!--button type="button" class="btn btn-outline-danger" (click)="c('Close click', exportExcel())"-->
          <img src="assets/icon/excel_icon.svg" style="height: 20px;" /> นำออกข้อมูล
        </button>
      </div>
    </div>
    <br><br>
    <!-- แก้ไขคะแนน -->
    <!--div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-primary">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;&nbsp;ใช้งานการแก้ไขคะแนน
      </div>
      <div class="col-4">
        <ui-switch [(ngModel)]="isFixScore" color="#007bff" switchColor="#007bff" (change)="sendMessageToUpdateScore()"></ui-switch>
      </div>
    </div-->
    <!-- แสดงกลุ่มเรียน -->
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-dark">
        <i class="fa fa-group" aria-hidden="true"></i>&nbsp;&nbsp;แสดงกลุ่มเรียน
      </div>
      <div class="col-4">
        <ui-switch [(ngModel)]="isShowGroup" color="#868e96" switchColor="#868e96" (change)="sendMessageToShowGroup()"></ui-switch>
      </div>
    </div>
    <!-- แสดงเปอร์เซนต์คะแนน -->
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-primary">
        <i class="fa fa-percent" aria-hidden="true"></i>&nbsp;&nbsp;แสดงเปอร์เซนต์คะแนน
      </div>
      <div class="col-4">
        <ui-switch [(ngModel)]="isShowPercent" color="#007bff" switchColor="#007bff" (change)="sendMessageToShowPercent()"></ui-switch>
      </div>
    </div>
    <!-- แสดงคะแนนรวม -->
    <!--div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-dark">
        <i class="fa fa-table" aria-hidden="true"></i>&nbsp;&nbsp;แสดงคะแนนรวม
      </div>
      <div class="col-4">
        <ui-switch [(ngModel)]="isShowTotal" color="#868e96" switchColor="#868e96" (change)="sendMessageToShowTotal()"></ui-switch>
      </div>
    </div-->
    <!-- จำนวนครั้งที่ขาดเรียน -->
    <div class="row">
      <div class="col-2"></div>
      <div class="col-6 text-danger">
        <i class="fa fa-close" aria-hidden="true"></i>&nbsp;&nbsp;จำนวนครั้งที่ขาดเรียน/ส่งงาน
      </div>
      <div class="col-4">
        <ui-switch [(ngModel)]="isShowCountMiss" color="#dc3545" switchColor="#dc3545" (change)="sendMessageToShowCountMiss()"></ui-switch>
      </div>
    </div>
  </div>
  <div class="row card-footer text-muted">
    <div class="col text-left">
      <button type="button" class="btn btn-success" (click)="c('Close click',openEvent(updateEventList))">เพิ่มรายการเก็บคะแนน</button>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-primary" (click)="c('Close click')">ปิด</button>
    </div>

  </div>
</ng-template>
<!-- END ToolBox -->

<!--------------------------------------------------------------------------------------------------->

<!-- เพิ่มรายชื่อนักศึกษา -->
<ng-template #insertStudent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายชื่อนักศึกษา
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <button type="button" class="btn btn-outline-success" (click)="c('Close click',openEvent(insertStudentString))">
      <img src="assets/icon/keyboard.svg" style="height: 40px;" />
      <!--i class="fa fa-keyboard-o" aria-hidden="true"></i-->&nbsp;กรอกข้อมูล</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click',openEvent(insertStudentCsv))">
      <img src="assets/icon/csv.svg" style="height: 40px;" />
      <!--i class="fa fa-upload" aria-hidden="true"></i-->&nbsp;อัพโหลดไฟล์ .csv</button>
  </div>
  <!--div class="card-footer text-muted text-right">
    <button type="button" class="btn btn-primary" (click)="c('Close click')">ตกลง</button>
  </div-->
</ng-template>
<!-- กรอกข้อมูล -->
<ng-template #insertStudentString let-c="close" let-d="dismiss">
  <div class="modal-header bg-success">
    <h5 class="modal-title text-light" id="modal-basic-title">
      <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายชื่อนักศึกษา โดยการกรอกข้อมูล
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--div class="card-header bg-success">
    <h5 class="modal-title">
      <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายชื่อนักศึกษา โดยการกรอกข้อมูล
    </h5>
    <button type="button" class="btn btn-success" (click)="c('Close click')">ปิด</button>
  </div-->
  <div class="modal-body text-center">
    <form autocomplete="off" [formGroup]="insertStudentForm">
      <fieldset>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon" style="width:140px">
              <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;รหัสนักศึกษา
            </div>
          </div>
          <input type="text" formControlName="id" class="form-control" placeholder="B58xxxxx" aria-label="Input group example"
            aria-describedby="btnGroupAddon">
          <!-- Valid -->
          <div *ngIf="insertStdId.value==null" class="input-group-append"></div>
          <div *ngIf="insertStdId.value!=null && insertStdId.errors" class="input-group-append">
            <label class="input-group-text bg-danger text-light">
              <i class="fa fa-close" aria-hidden="true"></i></label>
          </div>
          <div *ngIf="insertStdId.valid" class="input-group-append">
            <label class="input-group-text bg-success text-light" style="width: 40px">
              <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <div style="padding-left:100px; padding-bottom: 10px">
          <div *ngIf="insertStdId.value!=null && insertStdId.errors">
            <label class=" text-danger" style="font-size:13px">
              <i class="fa fa-close" aria-hidden="true"></i>ขึ้นต้นด้วย B, M หรือ D ตามตัวเลข 7 ตัว</label>
          </div>
        </div>
        <!--///-->
        <div class="input-group" style="padding-bottom: 10px">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon" style="width:140px">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;ชื่อ - นามสกุล
            </div>
          </div>
          <input type="text" formControlName="name" class="form-control" placeholder="นายxxxx xxxx" aria-label="Input group example"
            aria-describedby="btnGroupAddon">
          <!-- Valid -->
          <div *ngIf="insertStdName.value==null" class="input-group-append"></div>
          <div *ngIf="insertStdName.value!=null && insertStdName.errors" class="input-group-append">
            <label class="input-group-text bg-danger text-light" style="width: 40px">
              <i class="fa fa-close" aria-hidden="true"></i></label>
          </div>
          <div *ngIf="insertStdName.valid" class="input-group-append">
            <label class="input-group-text bg-success text-light" style="width: 40px">
              <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
        <!--///-->
        <div class="input-group" style="padding-bottom: 20px">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon" style="width:140px">
              <i class="fa fa-group" aria-hidden="true"></i>&nbsp;กลุ่มเรียน
            </div>
          </div>
          <input type="number" placeholder="ตัวเลขเท่านั้น" formControlName="group" class="form-control">
          <!-- Valid -->
          <div *ngIf="insertStdGroup.value==null" class="input-group-append"></div>
          <div *ngIf="insertStdGroup.value!=null && insertStdGroup.errors" class="input-group-append">
            <label class="input-group-text bg-danger text-light" style="width: 40px">
              <i class="fa fa-close" aria-hidden="true"></i></label>
          </div>
          <div *ngIf="insertStdGroup.valid" class="input-group-append">
            <label class="input-group-text bg-success text-light" style="width: 40px">
              <i class="fa fa-check" aria-hidden="true"></i></label>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="card-footer text-muted text-right">
    <button [disabled]="!insertStudentForm.valid" type="button" class="btn btn-success" (click)="onClickInsertStudentString()">บันทึกรายชื่อ</button>
  </div>
</ng-template>
<!-- อัพโหลด csv -->
<ng-template #insertStudentCsv let-c="close" let-d="dismiss">
  <div class="modal-header bg-danger">
    <p class="modal-title text-light" style="font-size:18px; display:inline">
      <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายชื่อนักศึกษาโดยการอัพโหลดไฟล์ .csv</p>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--div class="card-header bg-danger">
    <p class="modal-title" style="font-size:18px; display:inline">
      <i class="fa fa-address-card" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายชื่อนักศึกษาโดยการอัพโหลดไฟล์ .csv</p>
    <p class="text-light" style="font-size:14px">
      <i class="fa fa-warning text-warning" aria-hidden="true"></i> รองรับเฉพาะไฟล์ UTF-8</p>
  </div-->
  <div class="modal-body text-center">
    <p class="text-danger text-left" style="font-size:14px">
      <i class="fa fa-warning text-warning" aria-hidden="true"></i> รองรับเฉพาะไฟล์ UTF-8</p>
    <input type="file" (change)="onFileSelect($event.target.files)"> &nbsp;&nbsp;
    <button type="submit" class="btn btn-danger text-white" (click)="onUploadcsv()">
      <i class="fa fa-upload"></i> Upload
    </button>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col text-left text-danger">
        <button type="button" class="btn btn-outline-danger btn-sm">คู่มือเตรียมไฟล์ csv.pdf</button>
      </div>
      <div class="col text-right">
        <!--button type="button" class="btn btn-danger text-right" (click)="c('Close click')">ตกลง</button-->
      </div>
    </div>
  </div>
</ng-template>
<!-- END -->

<!--------------------------------------------------------------------------------------------------->

<ng-template #updateCourseData let-c="close" let-d="dismiss">
  <div class="modal-header bg-warning">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;แก้ไขรายวิชา {{ ( courseItem | async )?.id }}
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--div class="card-header bg-warning">
    <h5 class="modal-title"><i class="fa fa-pencil-square" aria-hidden="true"></i>&nbsp;&nbsp;แก้ไขรายวิชา</h5>
    <p class="text-danger">ไม่สามารถแก้ไข รหัสวิชาได้</p>
  </div-->
  <div class="modal-body text-center">
    <form autocomplete="off" [formGroup]="updateCourseDataForm">
      <fieldset>
        <div class="row">
          <div class="col">
            <p> รายละเอียดวิชา </p>
            <!-- ชื่อวิชา -->
            <div class="input-group" style="padding-bottom: 10px">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  ชื่อวิชา
                </div>
              </div>
              <input type="text" formControlName="name" class="form-control" placeholder="ชื่อวิชา" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
            </div>
            <!-- จำนวนกลุ่มเรียน -->
            <!--div class="input-group" style="padding-bottom: 10px">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="width:125px">
                  จำนวนกลุ่มเรียน
                </div>
              </div>
              <input type="Number" formControlName="groupNo" class="form-control" placeholder="ตัวเลขเท่านั้น" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
            </div-->
            <!-- ปีการศึกษา -->
            <div class="input-group" style="padding-bottom: 10px">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="width:125px">
                  ปีการศึกษา
                </div>
              </div>
              <input type="text" formControlName="year" class="form-control" placeholder="ปีการศึกษา" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
            </div>
            <!-- ภาค -->
            <div class="input-group" style="padding-bottom: 10px">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="width:125px">
                  ภาคเรียน
                </div>
              </div>
              <input type="text" formControlName="trimester" class="form-control" placeholder="ภาคเรียน" aria-label="Input group example"
                aria-describedby="btnGroupAddon">
            </div>
            <!-- abbreviation -->
            <div class="input-group" style="padding-bottom: 10px">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon" style="width:125px">
                  อักษรย่อ
                </div>
              </div>
              <input type="text" formControlName="abbreviation" class="form-control" placeholder="อักษรย่อรายวิชา"
                aria-label="Input group example" aria-describedby="btnGroupAddon">
            </div>
          </div>


          <!-- ---------------------------------------------- -->
          <div class="col">
            <p> % คะแนน</p>
            <!-- Attendance -->
            <div *ngFor="let dE of dynamicEvent">
              <div class="input-group" style="padding-bottom: 10px">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon" style="width:140px">
                    {{dE.name}}
                  </div>
                </div>
                <input type="number" formControlName="{{dE.percentKey}}" class="form-control" placeholder="ตัวเลขเท่านั้น"
                  aria-label="Input group example" aria-describedby="btnGroupAddon">
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col text-left">
        <p class="text-danger" style="font-size:12px"><i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;ไม่สามารถแก้ไข
          รหัสวิชาได้
        </p>
        <p style="font-size:14px">
          ต้องการลบวิชา คลิก
          <button type="button" class="btn btn-dark btn-sm">
            <i class="fa fa-list" aria-hidden="true"></i>&nbsp; จัดการรายวิชา
          </button>
          ที่แถบเมนู
        </p>
      </div>
      <div class="col text-right">
        <!--button type="button" class="btn btn-warning" (click)="onClickUpdateCourseData()">บันทึกการตั้งค่า</button-->
        <button type="button" class="btn btn-warning" (click)="c('Close click', onClickUpdateCourseData())">บันทึกการตั้งค่า</button>
      </div>
    </div>
  </div>
</ng-template>
<!-- END -->

<!--------------------------------------------------------------------------------------------------->

<!-- แก้ไข EventList -->
<ng-template #updateEventList let-c="close" let-d="dismiss">
  <div class="modal-header bg-info">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มรายการเก็บคะแนน
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <input type="text" class="form-control text-center" placeholder="ชื่อรายการเก็บคะแนน" [(ngModel)]="userInsertNewEvent">

    <br>
    <p class="text-muted"> หาคลิก "เพิ่ม" แล้วยังไม่ปรากฏให้ทำการ Reload</p>
  </div>

  <div class="card-footer text-muted">
    <div class="row">
      <div class="col text-left">
      </div>
      <div class="col text-right">
        <button class="btn btn-info" (click)="onClickUserInsertEvent()" type="button">
          เพิ่ม <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
        <!--button type="button" class="btn btn-info text-right" (click)="c('Close click')">ตกลง</button-->
      </div>
    </div>
  </div>
</ng-template>
<!-- END -->

<!-- เพิ่มช่อง -->
<ng-template #warningAlert let-c="close" let-d="dismiss">
  <div class="modal-header bg-warning">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    {{ warningMessage }}
    <hr>

    <form *ngIf="uploadFlag && eventParam !== 'attendance'" autocomplete="off" [formGroup]="insertSchedule">
      <div class="row">
        <div class="col">
          <div class="input-group" style="padding-bottom: 10px">
            <div class="input-group-prepend">
              <div class="input-group-text" id="btnGroupAddon">
                กำหนดคะแนนเต็ม
              </div>
            </div>
            <input type="text" formControlName="totalScore" class="form-control" placeholder="คะแนนเต็ม" aria-label="Input group example"
              aria-describedby="btnGroupAddon">
          </div>
        </div>
      </div>
      <br>
    </form>

    <ngb-progressbar *ngIf="uploadFlag" [animated]="true" [striped]="true" [showValue]="true" type="danger" [value]="countUploadStudentProgress"
      [max]="studentList.length"></ngb-progressbar>

  </div>
  <div *ngIf="uploadFlag" class="card-footer text-center">
    <p *ngIf="countUploadStudentProgress !== 0">
      กรุณารอสักครู่ เมื่อสำเร็จแล้วระบบจะทำการ Reload อีกครั้ง
    </p>
    <button *ngIf="countUploadStudentProgres !== studentList.length" type="button" class="btn btn-outline-warning"
      (click)="letCreateEventSlot()">CREATE</button>

    <!--button *ngIf="countUploadStudentProgress == studentList.length" type="button" class="btn btn-outline-success" (click)="c('Close click')">ปิด</button-->
  </div>

</ng-template>

<ng-template #exportExcel let-c="close" let-d="dismiss">
  <div class="modal-body text-center">
    <div *ngIf="groupParam == 'all'">นำออกข้อมูล "<b>ทุกกลุ่ม</b>"</div>
    <div *ngIf="groupParam != 'all'">นำออกข้อมูล "<b>กลุ่มเรียนที่ {{ groupParam }}</b>"</div>
    <hr>
    <div class="row">
      <div class="col center-block text-muted">
        เลือกกลุ่มที่ต้องการนำออกข้อมูลได้จาก
        <!--div class="text-center input-group input-group-sm">
          <div class="input-group-prepend ">
            <span class="input-group-text" id="inputGroup-sizing-sm">GROUP </span>
          </div>
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" disabled>xxxxxx</button>
          </div>
        </div-->
  
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-sm btn-secondary disabled" aria-disabled="true">
            <input type="radio" name="options" id="option1" autocomplete="off" > GROUP
          </label>
          <label class="btn btn-sm btn-outline-secondary disabled" aria-disabled="true">
            <input type="radio" name="options" id="option2" autocomplete="off" > xxxxxx
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click', onClickExportExcel())">
      <img src="assets/icon/excel_icon.svg" style="height: 20px;" /> นำออกข้อมูล
    </button>
  </div>
</ng-template>

<ng-template #deleteCourse let-c="close" let-d="dismiss">
  <div class="modal-header bg-warning">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;WARNING
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h6>ต้องการลบรายวิชา </h6>
    {{ deleteMessage.id }} : {{ deleteMessage.name }}
    <hr>
    <p class="text-danger">เมื่อลบแล้วจะไม่สามารถกู้คืนได้</p>
  </div>
  <div class="modal-footer row">
    <div class="col text-left">
      <button type="button" class="btn btn-outline-warning" (click)="d('Close click')">ยกเลิก</button>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-warning" (click)="c('Close click')">ตกลง</button>
    </div>
  </div>
</ng-template>

<!--div class="input-group" style="padding-bottom: 10px">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon">
          <i class="material-icons">person</i>
        </div>
      </div>
      <input type="text" [(ngModel)]="eventName" placeholder="EMAIL" aria-label="Input group example">
    </div-->



<!--button class="btn btn-outline-primary mb-2 mr-2" (click)="openWindowCustomClass(content)">Modal with window custom class</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openBackDropCustomClass(content)">Modal with backdrop custom class</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openSm(content)">Small modal</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Large modal</button>
<button class="btn btn-outline-primary mb-2 mr-2" (click)="openVerticallyCentered(content)">Modal vertically centered</button-->