<div [@routerTransition]>
  <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
  <hr>
  <div *ngFor="let course of courseList; let i = index">
    <div style="padding:2px">
      <div>

        <button *ngIf="!expandList[i].expanded" (click)="expandedCourseDashboard(i)" type="button" class="btn {{ buttonOutlineStyle[i] }} btn-lg btn-block">
          <div class="row">
            <div class="col text-left">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp; {{course.trimester}}/{{course.year}}
            </div>
            <div class="col">
              {{ course.id }} : {{ course.name }}
            </div>
            <div class="col text-right"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
          </div>
        </button>

        <button *ngIf="expandList[i].expanded" (click)="expandedCourseDashboard(i)" type="button" class="btn {{ buttonStyle[i] }} btn-lg btn-block">
          <div class="row">
            <div class="col text-left">
              <i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp; {{course.trimester}}/{{course.year}}
            </div>
            <div class="col">
              {{ course.id }} : {{ course.name }}
            </div>
            <div class="col text-right"><i class="fa fa-angle-double-up" aria-hidden="true"></i></div>
          </div>
        </button>

        <div *ngIf="expandList[i].expanded">
          <div style="padding:3px"></div>
          <div class="row">
            <div class="col">
              <div class="card {{ borderStyle[i] }}">
                <!-- HEADER -->
                <div class="card-header text-right text-danger" *ngIf="lastAttendance[i].date == undefined">
                  Not found <b>Attendnace</b>
                </div>
                <div class="card-header text-right {{ classColor[i] }} " style="font-size:20px" *ngIf="lastAttendance[i].date !== undefined">
                  <i class="fa fa-clock-o " aria-hidden="true"></i>
                  {{ lastAttendance[i].date | date: 'mediumDate' }} &nbsp;&nbsp;&nbsp; {{ lastAttendance[i].date |
                  date: 'mediumTime' }}
                </div>
                <!-- END HEADER -->
                <!-- BODY -->
                <div class="card-body">
                  <div *ngIf="feedbackLastList[i].feeling == 0" class="text-danger text-center">
                    Not found <b>Feedback</b><br><br>
                  </div>
                  <div class="wrapper" *ngIf="feedbackLastList[i].feeling !== 0">
                    <table class="table">
                      <thead>
                        <tr class="text-center">
                          <th scope="col">
                            <img [src]="emojiPathPng('crazy-text2')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('cry-text2')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('dead-text')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('cry-smile-text2')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('smile-text2')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('love-text2')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('bored-text')" width='25px'>
                          </th>
                          <th scope="col">
                            <img [src]="emojiPathPng('sleep-text')" width='25px'>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          <td scope="row">{{feedbackLastList[i].feeling.count0}}</td>
                          <td>{{feedbackLastList[i].feeling.count1}}</td>
                          <td>{{feedbackLastList[i].feeling.count2}}</td>
                          <td>{{feedbackLastList[i].feeling.count3}}</td>
                          <td>{{feedbackLastList[i].feeling.count4}}</td>
                          <td>{{feedbackLastList[i].feeling.count5}}</td>
                          <td>{{feedbackLastList[i].feeling.count6}}</td>
                          <td>{{feedbackLastList[i].feeling.count7}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>


                  <div class="row">
                    <div class="col-8">
                      <div class="card" *ngIf="feedbackLastList[i].comment.length !== 0">
                        <div class="card-body">
                          <h5 class="card-title">FEEDBACK</h5>
                          <div *ngFor="let comment of feedbackLastList[i].comment; let c = index">
                            <li>{{comment}}</li>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div *ngIf="lastAttendance[i].date !== undefined">
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-6">
                                <div class="card bg-success text-light">
                                  <div class="card-body text-center" style="font-size:30px">
                                    <p style="font-size:14px">ON TIME</p>
                                    {{ lastAttendance[i].countOnTime }}
                                  </div>
                                </div>
                                <br>
                                <p class="text-center"><b>LATE : </b> {{ lastAttendance[i].countLate }}</p>
                              </div>
                              <div class="col-6">
                                <div class="card bg-danger text-light">
                                  <div class="card-body text-center" style="font-size:30px">
                                    <p style="font-size:14px">MISSED</p>
                                    {{ lastAttendance[i].countMiss }}
                                  </div>
                                </div>
                                <br>
                                <p class="text-center"><b>LEAVE : </b> {{ lastAttendance[i].countLeave }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="padding: 10px"></div>
                  <div class="row" *ngIf="chartData[i].length !== 0">
                    <div class="col">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">CHART</h5>
                          <canvas baseChart [colors]="chartColors" [datasets]="chartData[i]" [labels]="chartLabels[i]"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                          </canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="padding: 10px"></div>
    </div>
  </div>
</div>