.red{
    background-color: rgba(252, 216, 205, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.green{
    background-color: rgba(211, 253, 177, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.yell{
    background-color: rgba(255, 238, 181, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.write{
  border: 1px solid rgba(170, 170, 170, 0.4);
}

