<ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
  {{ updateScoreString }}
</ngb-alert>

<ngb-alert *ngIf="!isNotFound" (close)="isNotFound = true">
  ไม่มีข้อมูลรายวิชา เช่นรายชื่อนักศึกษา หรือ คะแนน คลิก
  <button type="button" class="btn btn-outline-primary btn-sm" disabled>
    <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Tools
  </button>&nbsp; เพื่อแก้ไข
</ngb-alert>

<div class="row">
  <div class="col text-left">
    <p>Show {{numberOfPage}} of {{numberOfAllPageShow}}</p>
  </div>
  <div class="col text-right">
    <ngb-pagination class="d-flex justify-content-end" size="sm" [collectionSize]="numberOfAllPage" [(page)]="numberOfPage" [maxSize]="5"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
    </ngb-pagination>
  </div>
</div>

<table class="table table-bordered text-dark">
  <thead>
    <tr>
      <th style="width:30px; text-align: center">#</th>
      <th style="width:50px; text-align: center">ID</th>
      <th style="width:200px; text-align: center">ชื่อ-นามสกุล</th>
      <th *ngIf="isShowGroup" style="width:50px; text-align: center">กลุ่ม</th>
      <!--th *ngIf="showMissClass.flag" style="width:70px; text-align: center">
        <div class="text-danger" style="font-size: 12px">ขาดเรียน</div>
      </th-->
      <!--th *ngFor="let schedule of scheduleList ; let k = index" style="width:50px ;text-align: center">
        <button *ngIf="k/5 > 1" type="button" class="btn btn-light" placement="top">
          {{ k+1 }}
        </button>
      </th-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <!-- เอาไปก่อน -->
        <!--th *ngIf="((numberOfPage-1) <= i/5) && (i/5 < numberOfPage)"></th  ใช้ได้เแต่มันแบ่งหน้าละ ชุด หั่น 5-->
        <th *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          <button type="button" class="btn btn-light" placement="top">
            {{ i+1 }}
          </button>
        </th>
      </ng-template>
      <!--th *ngIf="showPercentageA.flag" style="width:70px; text-align: center">
        <div class="text-primary" style="font-size: 14px">{{item.percentAtt}}%</div>
      </th-->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList; let j = index;">
      <th scope="row" style="width:30px; text-align: center">
        <i class="fa fa-trash-o" (click)="onDeleteStudent(student.id)"></i>&nbsp;{{j+1}}
      </th>
      <td style="width:50px; text-align: center">{{student.id}}</td>
      <td style="width:200px; text-align: center">{{student.name}}</td>
      <td *ngIf="isShowGroup" style="width:50px; text-align: center">{{student.group}}</td>
      <!-- Score Result -->
      <ng-container *ngFor="let key of objectKeys(student[selectedEvent]); let k = index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= k/numberOfCol) && (k/numberOfCol < numberOfPage) then ontimeScore">
        </td>
        <ng-template #ontimeScore>
          <td *ngIf="student[selectedEvent][key].score >= 1; else lateScore" class="green" style="width:50px ;text-align: center">
            <!--showScore-->
            <form *ngIf="isFixScore" autocomplete="off" novalidate [formGroup]="changeScoreForm">
              <input type="text" class="form-control text-center" formControlName="changeScore" placeholder="{{ student[selectedEvent][key].score }}"
                (keyup.enter)="onChangeScore(student)">
            </form>
            <div *ngIf="!isFixScore">{{ student[selectedEvent][key].score }}</div>
            <!--end showScore-->
          </td>
        </ng-template>
        <ng-template #lateScore>
          <td *ngIf="student[selectedEvent][key].score == 0.5; else missScore" class="yell" style="width:50px ;text-align: center">
            <!--showScore-->
            <form *ngIf="isFixScore" autocomplete="off" novalidate [formGroup]="changeScoreForm">
              <input type="text" class="form-control text-center" formControlName="changeScore" placeholder="{{ student[selectedEvent][key].score }}"
                (keyup.enter)="onChangeScore(student)">
            </form>
            <div *ngIf="!isFixScore">{{ student[selectedEvent][key].score }}</div>
            <!--end showScore-->
          </td>
        </ng-template>
        <ng-template #missScore>
          <td *ngIf="student[selectedEvent][key].score == 0;" class="red" style="width:50px ;text-align: center">
            <!--showScore-->
            <form *ngIf="isFixScore" autocomplete="off" novalidate [formGroup]="changeScoreForm">
              <input type="text" class="form-control text-center" formControlName="changeScore" placeholder="{{ student[selectedEvent][key].score }}"
                (keyup.enter)="onChangeScore(student)">
            </form>
            <div *ngIf="!isFixScore">{{ student[selectedEvent][key].score }}</div>
            <!--end showScore-->
          </td>
        </ng-template>
      </ng-container>

      <!--td *ngFor="let key of objectKeys(student[selectedEvent])" style="width:50px ;text-align: center">
            <form *ngIf="isFixScore" autocomplete="off" novalidate [formGroup]="changeScoreForm">
              <input type="text" class="form-control text-center" formControlName="changeScore" placeholder="{{ student[selectedEvent][key].score }}"
                (keyup.enter)="onChangeScore(student)">
            </form>
            <div *ngIf="!isFixScore">{{ student[selectedEvent][key].score }}</div>
          </td-->
    </tr>
    <!--Total Row-->
    <tr *ngIf="selectedEvent !== 'attendance'" class="bg-light">
      <td colspan="3" style="width:70px; text-align: center">Total</td>
      <!--td *ngIf="showGroup.flag"></td-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          {{ schedule.count }} / {{ studentList.length }}
        </td>
      </ng-template>
      <!--td></td>
          <td *ngIf="showPercentageQ.flag"></td>
          <td style="display:none;"></td-->
    </tr>

    <!--IF ATTENDANCE-->
    <tr *ngIf="selectedEvent=='attendance'" class="green">
      <td colspan="3" style="width:70px; text-align: right">มาเรียนตรงเวลา</td>
      <!--td *ngIf="showGroup.flag"></td-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          {{ schedule.countOnTime }}
        </td>
      </ng-template>
    </tr>
    <tr *ngIf="selectedEvent=='attendance'" class="yell">
      <td colspan="3" style="width:70px; text-align: right">มาเรียนสาย</td>
      <!--td *ngIf="showGroup.flag"></td-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          {{ schedule.countLate }}
        </td>
      </ng-template>
    </tr>
    <tr *ngIf="selectedEvent=='attendance'" class="red">
      <td colspan="3" style="width:70px; text-align: right">ขาดเรียน</td>
      <!--td *ngIf="showGroup.flag"></td-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          {{ schedule.countMiss }}
        </td>
      </ng-template>
    </tr>
    <tr *ngIf="selectedEvent=='attendance'" class="yell">
      <td colspan="3" style="width:70px; text-align: right">ลา</td>
      <!--td *ngIf="showGroup.flag"></td-->
      <ng-template ngFor let-schedule [ngForOf]="scheduleList" let-i="index">
        <td *ngIf="(((numberOfPage-1)/numberOfCol*numberOfPage) <= i/numberOfCol) && (i/numberOfCol < numberOfPage)" style="width:50px ;text-align: center">
          {{ schedule.countLeave }}
        </td>
      </ng-template>
    </tr>
    <!--END IF ATTENDANCE-->
  </tbody>
</table>



<ng-template #updateScore let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">ต้องการแก้ไขคะแนน</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>