<!--html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Arthiti:300,700" rel="stylesheet">
</head>

<body>
  
</body>

</html>
<br-->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <i class="fa fa-list" aria-hidden="true"></i>&nbsp;จัดการรายวิชา</a>
  <ul class="navbar-nav ml-auto">
    <button type="button" class="btn btn-success" [routerLink]="['/add-course']">
      <i class="fa fa-fw fa-book"></i> {{ 'สร้างรายวิชาใหม่' }}
    </button>
  </ul>
</nav>

<hr>

<div class="container text-center">
  <table class="table text-dark table-hover">
    <thead>
      <tr>
        <th style="width:70px; text-align: center; font-size: 90%">#</th>
        <th style="width:100px; text-align: center; font-size: 90%">รหัสวิชา</th>
        <th style="text-align: center; font-size: 90%">ชื่อวิชา</th>
        <th style="text-align: center; font-size: 90%">ภาคเรียน</th>
        <th style="text-align: center; font-size: 85%">จำนวน<br>นักศึกษา</th>
        <th style="text-align: center; font-size: 90%">แก้ไขรายวิชา</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courseList; let i = index">
        <td style="width:70px; text-align: center">{{i+1}}</td>
        <td style="width:100px; text-align: center">{{course.id}}</td>
        <td style="text-align: center">{{course.name}}</td>
        <td style="text-align: center">{{course.trimester}}/{{course.year}}</td>
        <td *ngIf="isEmptyObject(course.students)" style="text-align: center">
          - </td>
        <td *ngIf="!isEmptyObject(course.students)" style="width:100px; text-align: center">
          {{ objectKeys(course.students).length}}</td>
        <td style="text-align: center">
          <button type="button" class="btn btn-danger" (click)="onClickDelete(course)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          &nbsp;
          <button type="button" class="btn btn-warning text-light" [routerLink]="['/course', course.id, 'score', 'all']" >
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<ng-template #deleteCourse let-c="close" let-d="dismiss">
  <div class="modal-header bg-warning">
    <h5 class="modal-title" id="modal-basic-title">
      <i class="fa fa-warning" aria-hidden="true"></i>&nbsp;&nbsp;WARNING
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <h6>ต้องการลบรายวิชา </h6>
    {{ deleteMessage.id }} : {{ deleteMessage.name }}
    <hr>
    <p class="text-danger">เมื่อลบแล้วจะไม่สามารถกู้คืนได้</p>
  </div>
  <div class="modal-footer row">
    <div class="col text-left">
      <button type="button" class="btn btn-outline-warning" (click)="d('Close click')">ยกเลิก</button>
    </div>
    <div class="col text-right">
      <button type="button" class="btn btn-warning" (click)="c('Close click')">ตกลง</button>
    </div>
  </div>
</ng-template>