<div class="card-body">
  <ul class="timeline">
    <li *ngFor="let list of commentList; let i = index">
      <div *ngIf="list.classLabel == 'negative'" class="timeline-badge danger">
        <i class="fa fa-minus" aria-hidden="true"></i>
      </div>
      <div *ngIf="list.classLabel == 'positive'" class="timeline-badge success">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
      <div *ngIf="list.classLabel == 'neutral'" class="timeline-badge warning">
        OK
      </div>
      <div class="timeline-panel">

        <div *ngIf="list.classLabel == 'negative'" class="timeline-body">
          <p><img [src]="emojiPath('cry')" width='25px'>&nbsp;&nbsp; {{ list.comment }}</p>
          <p>
            <small class="text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
              {{ list.date | date:'medium' }}
            </small>
          </p>
        </div>
        <div *ngIf="list.classLabel == 'positive'" class="timeline-body">
          <p><img [src]="emojiPath('love')" width='25px'>&nbsp;&nbsp; {{ list.comment }}</p>
          <p>
            <small class="text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
              {{ list.date | date:'medium' }}
            </small>
          </p>
        </div>

        <div *ngIf="list.classLabel == 'neutral'" class="timeline-body">
          <p><img [src]="emojiPath('smile')" width='25px'>&nbsp;&nbsp; {{ list.comment }}</p>
          <p>
            <small class="text-muted">
              <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
              {{ list.date | date:'medium' }}
            </small>
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>