.red{
    background-color: rgba(252, 216, 205, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.green{
    background-color: rgba(211, 253, 177, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.yell{
    background-color: rgba(255, 238, 181, 0.75);
    border: 1px solid rgba(170, 170, 170, 0.4);
}
.white{
  border: 1px solid rgba(170, 170, 170, 0.4);
}
.blue{
  background-color: rgba(181, 201, 255, 0.774);
  border: 1px solid rgba(170, 170, 170, 0.4);
}
.gray{
  background-color: rgba(170, 170, 170, 0.4);
  border: 1px solid rgba(170, 170, 170, 0.4);
}

.missScoreYell{
  background-color: rgba(255, 245, 102, 0.9);
  border: 1px solid rgba(170, 170, 170, 0.4);
}

.missScoreOrange{
  background-color: rgba(255, 156, 75, 0.9);
  border: 1px solid rgba(170, 170, 170, 0.4);
}

.missScoreRed{
  background-color: rgba(255, 80, 80, 0.9);
  border: 1px solid rgba(170, 170, 170, 0.4);
}